In [70]:
s="ineuron"

In [72]:
type(s)

str

In [74]:
s[0]

'i'

In [76]:
s[5]

'o'

In [78]:
s[-1]

'n'

In [80]:
s[1]

'n'

In [82]:
s[2]

'e'

In [84]:
s[-3]

'r'

In [86]:
s[6]

'n'

In [88]:
s1='sudh'

In [90]:
s1[1]

'u'

In [92]:
s1[0]

's'

In [94]:
s1[-1]

'h'

In [96]:
'this is my first programming class's'

SyntaxError: unterminated string literal (detected at line 1) (1616320507.py, line 1)

In [98]:
#here we are getting error becaus system is confused that there are three ' available so where the string is starting and ending so we get an error here so its always suggested to use " instead of ' and whe we get error like we can solve it by using " fronstart to end of the string as below:

In [100]:
"this is my first programming class's"

"this is my first programming class's"

In [102]:
s2="this is my first programming class's"

In [104]:
s2

"this is my first programming class's"

In [106]:
s2[8]

'm'

In [108]:
s2[4]

' '

In [110]:
# from above one can say that even space is counted as index and it can be extraced from variable such as string.

In [112]:
# now, it is fine to extract single indexes but what if we want to extract the data in range wise instead of single index

In [114]:
s2

"this is my first programming class's"

In [116]:
# now i want to extract the data from index number 1 to index number 5 so,

In [118]:
s2[1:5]

'his '

In [120]:
#in above case we have extrated the data from 1 to 5 indexes but we should note the behaviour as here index starts from 1 that is h and goes till 5 but it excludes index number 5 that is it alwasys excludes upper bound and gives out put of the idex just before upper bound in the above case it gives out for index number 4 which is space

In [122]:
s2[6:30]

's my first programming c'

In [124]:
# now the range extraction is fine but in the same range extraction i am not looking for all the data but alternative index data that is suppose the range is 0 to 10 so i dont want all inder from 0 1 2 3 til 100 but i want 0 then 2 then 4.. till ten so how we do that?

In [126]:
s2

"this is my first programming class's"

In [128]:
s2[6:30]

's my first programming c'

In [130]:
# here range is from 6 to 30 and we want alter native data so,

In [132]:
s2[6:30:2]

'sm is rgamn '

In [134]:
# in this case the 2 is jump and if no jump is mentioned by default the jump is always 1

In [136]:
s="sudhanshu"

In [138]:
s[0:9]

'sudhanshu'

In [140]:
s[0:9:2]

'sdasu'

In [142]:
s[0:9:1]

'sudhanshu'

In [144]:
s

'sudhanshu'

In [146]:
s[0:8:-1]

''

In [148]:
# here 0 and 8 are indexes and -1 is jump 
# 0 to 8 is positive direction
# while the jump is negetive in direction that is -1 
# so it is created contracdition between positive and negetive so it is giving output as blank

In [150]:
s[8:0:-1]

'uhsnahdu'

In [152]:
#here 8 to 0 is negetive direction
#-1 that is jump is also in negertive direction so there is no contradiction here hence we get an out out
# but why s is not there which is 0th index ? as 0 is upper bound here so it is excluded as mention above
# here 8 is lower bound 0 is upper bound and -1 is the jump

In [155]:
s[8:0:-2]

'usad'

In [157]:
s

'sudhanshu'

In [159]:
s[:-3]

'sudhan'

In [161]:
# when the starting index that is lower bound is not mention it by default condsider the lowest index in this case 0th idex 
# when upper bound is not given it by default consider the maxium or last inder in this case upper bound is not excluded but given in the range it self that is n+1 
# when jump size is not given by default it is 1
# in above case the start point is 0 and end point is -3 so it starts in positive direction only but stops at -3rd index point that is s but as -3 is upper bound so it excludes s and gives the next alphabet

In [163]:
s[-2:]

'hu'

In [165]:
# here the starting index that is lower bound is given as -2
# as upper bound is not given by default it will consider and include the last index/ maxium index in out put that is nth index + 1 (n=last index number)
# in above case the last index is -1 so -2 to -1 is the positive direction and jump is also 1 that is positive direction
# but upper bound is given in out put as mentioned that it will consider the last index when upper bound is not mentioned

In [167]:
s[::1]

'sudhanshu'

In [169]:
# in above case upper and lower bound both are not present so it consider it as max and min index respctively and jump is 1

In [171]:
s[::]

'sudhanshu'

In [173]:
s[::-1]

'uhsnahdus'

In [175]:
# in above case upper and lower bound both are not present so it consider it as max and min index respctively and jump is -1 
# here max and min index is given but as direction is negetive so it gives string in reverse in output

In [177]:
s[0:50:1]

'sudhanshu'

In [179]:
# this is the same case as above of [::] or [::1] as maximum upper bound can be anything as anyhow 50th index is not there in string so by default it will take the maximum index number is out put

In [181]:
s2

"this is my first programming class's"

In [183]:
s2[::-1]

"s'ssalc gnimmargorp tsrif ym si siht"

In [185]:
# so [::-1] is going to reverse the entire string

In [187]:
s3="ineourn"

In [189]:
s3[::-1]

'nruoeni'

In [191]:
s3[-2:-7:1]

''

In [193]:
s3[-7:-2:1]

'ineou'

In [195]:
s3[5:0]

''

In [197]:
s3

'ineourn'

In [199]:
s3[-7:2:1]

'in'

In [201]:
# note when any index moves from negetive to to

In [203]:
s2

"this is my first programming class's"

In [205]:
s2[-7:0:1]

''

In [207]:
s2[-7:1:1]

''

In [209]:
s2[-7:4:1]

''

In [211]:
s2[-7:1:-1]

'c gnimmargorp tsrif ym si si'

In [213]:
## this are called string slicing operation

In [215]:
s

'sudhanshu'

In [217]:
s[:-1:-1]

''

In [219]:
s+1

TypeError: can only concatenate str (not "int") to str

In [221]:
# in python data type should be same to perfom mathematical operation

In [223]:
s+str(1)

'sudhanshu1'

In [225]:
s+'1'

'sudhanshu1'

In [227]:
# this are the two ways to convert integer into string and perfom operation so string is also available in the form of function that is str() this converting is called typecasting

In [229]:
len(s)

9

In [231]:
# len is the length function used to count the space or number of index occupied by data that is the length of that data

In [233]:
s*5

'sudhanshusudhanshusudhanshusudhanshusudhanshu'

In [249]:
s.count('s')

2

In [251]:
s

'sudhanshu'

In [253]:
s.count('ud')

1

In [255]:
s.count('sum')

0

In [257]:
s.split('u')

['s', 'dhansh', '']

In [259]:
type(s.split('u'))

list

In [269]:
sw = "Samsung Gr oup[3] (Korean: 삼성; Hanja: 三星; RR: samseong [samsʌŋ]; stylised as SΛMSUNG) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Digital City, Suwon, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the world's eighth-highest brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues). "

SyntaxError: unterminated string literal (detected at line 1) (3062493610.py, line 1)

In [279]:
sw = "Samsung Gr oup[3] (Korean: 삼성; Hanja: 三星; RR: samseong [samsʌŋ]; stylised as SΛMSUNG) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Digital City, Suwon, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the world's eighth-highest brand value"

In [281]:
sw

"Samsung Gr oup[3] (Korean: 삼성; Hanja: 三星; RR: samseong [samsʌŋ]; stylised as SΛMSUNG) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Digital City, Suwon, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the world's eighth-highest brand value"

In [283]:
sw.split(' ')

['Samsung',
 'Gr',
 'oup[3]',
 '(Korean:',
 '삼성;',
 'Hanja:',
 '三星;',
 'RR:',
 'samseong',
 '[samsʌŋ];',
 'stylised',
 'as',
 'SΛMSUNG)',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Digital',
 'City,',
 'Suwon,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 "world's",
 'eighth-highest',
 'brand',
 'value']

In [285]:
len(sw.split(' '))

59

In [289]:
sw.count('Korean')

3

In [291]:
sw = "Samsung Gr oup[3] (Korean: 삼성; Hanja: 三星; RR: samseong [samsʌŋ]; stylised as SΛMSUNG) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Digital City, Suwon, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the world's eighth-highest brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues). "

SyntaxError: unterminated string literal (detected at line 1) (346102100.py, line 1)

In [293]:
sw = """Samsung Gr oup[3] (Korean: 삼성; Hanja: 三星; RR: samseong [samsʌŋ]; stylised as SΛMSUNG) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Digital City, Suwon, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the world's eighth-highest brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues). """

In [295]:
sw

"Samsung Gr oup[3] (Korean: 삼성; Hanja: 三星; RR: samseong [samsʌŋ]; stylised as SΛMSUNG) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Digital City, Suwon, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the world's eighth-highest brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues). "

In [297]:
## when there are multiple lines in string use " three times both the side to avoid error

In [299]:
sw.split(' ')

['Samsung',
 'Gr',
 'oup[3]',
 '(Korean:',
 '삼성;',
 'Hanja:',
 '三星;',
 'RR:',
 'samseong',
 '[samsʌŋ];',
 'stylised',
 'as',
 'SΛMSUNG)',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Digital',
 'City,',
 'Suwon,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 "world's",
 'eighth-highest',
 'brand',
 'value.[4]\n\nSamsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'JoongAng',
 'Group.\n\nNotable',
 'Samsung',
 'industrial',
 'affiliates',
 'include',
 'Samsung',
 'Electronics',
 '(the',
 "world's",
 'largest',
 'information',
 'technology',
 'company,',
 'consumer',
 'electronics',
 'maker',
 'and',
 'chipmaker',
 'measured',
 'by',
 '2017',
 'revenues),[5][6]',
 'Samsung',
 'Heavy',
 'Industries',
 '(the',
 "world's",
 'second',
 'largest',
 'shipbuilder',
 'measured',
 'by',
 '2010',
 'revenues),[7]',
 'and',
 'Samsung',
 'Engineering',
 'and',
 'Samsung',
 'C&T',
 'Corporation',
 '(respectively',
 'the',
 "world's",
 '13th',
 'and',
 '36th',
 'largest',
 'construction',
 'companies).[8]',
 'Other',
 'notable',
 'subsidiaries',
 'include',
 'Samsung',
 'Life',
 'Insurance',
 '(the',
 "world's",
 '14th',
 'largest',
 'life',
 'insurance',
 'company),[9]',
 'Samsung',
 'Everland',
 '(operator',
 'of',
 'Everland',
 'Resort,',
 'the',
 'oldest',
 'theme',
 'park',
 'in',
 'South',
 'Korea)[10]',
 'and',
 'Cheil',
 'Worldwide',
 '(the',
 "world's",
 '15th',
 'largest',
 'advertising',
 'agency,',
 'as',
 'measured',
 'by',
 '2012',
 'revenues).',
 '']

In [301]:
len(sw.split(' '))

230

In [303]:
sw

"Samsung Gr oup[3] (Korean: 삼성; Hanja: 三星; RR: samseong [samsʌŋ]; stylised as SΛMSUNG) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Digital City, Suwon, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the world's eighth-highest brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues). "

In [305]:
sw.upper()

"SAMSUNG GR OUP[3] (KOREAN: 삼성; HANJA: 三星; RR: SAMSEONG [SAMSɅŊ]; STYLISED AS SΛMSUNG) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG DIGITAL CITY, SUWON, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE WORLD'S EIGHTH-HIGHEST BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S SECOND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES). "

In [307]:
sw.lower()

"samsung gr oup[3] (korean: 삼성; hanja: 三星; rr: samseong [samsʌŋ]; stylised as sλmsung) is a south korean multinational manufacturing conglomerate headquartered in samsung digital city, suwon, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the world's eighth-highest brand value.[4]\n\nsamsung was founded by lee byung-chul in 1938 as a trading company. over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. following lee's death in 1987, samsung was separated into five business groups – samsung group, shinsegae group, cj group and hansol group, and joongang group.\n\nnotable samsung industrial affiliates include samsung electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] samsung heavy industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and samsung engineering and samsung c&t corporation (respectively the world's 13th and 36th largest construction companies).[8] other notable subsidiaries include samsung life insurance (the world's 14th largest life insurance company),[9] samsung everland (operator of everland resort, the oldest theme park in south korea)[10] and cheil worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues). "